body{
    background: rgba(192, 51, 28, 1);
    color: white;
}
header{
    padding-top: 1px;
    border-bottom: 2px solid white;;
}
body{
    overflow: scroll;
}
h1{
    margin-top: 20px;
    text-align: center;
    color: white;
}
section {
    min-height: calc(100vh - 140px);
}
footer{
    border-top: 2px solid white;
    height: 50px;
}
h2,h3{
    text-align:center;
}
.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    visibility:hidden;
    height: 0;
}
.device{
margin-left: auto;
margin-right: auto;
border-left: 1px solid white;
border-right: 1px solid white;
color: white;
font-size: 20px;
}
.deviceShortcutContainer{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    padding: 10px 0;
}
.deviceShortcut{
    color:rgba(192, 51, 28, 1);
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    background: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 0 10px;
}
.deviceShortcutExplanation{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dialogContainer{
display:flex;
position:fixed;
width:100vw;
height:100vh;
background:rgba(58, 58, 58, 0.46);
top:0;
left:0;
    color: white;
    font-size: 23px;
    z-index: 1000;
}
.dialog{
position:relative;
overflow:auto;
width:50%;
min-height:40%;
max-height:80%;
margin: auto;
padding:15px;
    background:grey;
}

.dialog .close{
position:absolute;
top:0;
right:0;
background:red;
cursor:pointer;
}

.currentLevelGroup{
    max-width: 200px;
    min-width: 200px;
}
.mainContent{
    flex-grow: 1;
    min-width: 300px;
border-left:1px solid white;
box-sizing:border-box;
}
.mainContent .editContainer{
display:inline-flex;
width:50%;
flex-direction:row-reverse;
flex-wrap:wrap;
}
.mainContent .edit{
padding-left:10px;
padding-right:10px;
background:red;
border:1px solid white;
cursor:pointer;
}
.mainContent .pathContainer{
display:inline-block;
width:50%;
}
.mainContent h2{
padding-bottom:10px;
}
.mainContent .actionGroupContainer{
display:flex;
flex-wrap:wrap;
}
.mainContent .groupInGroup{
flex-basis:150px;
flex-grow:1;
background:red;
text-align:center;
font-size:30px;
cursor:pointer;
border:1px solid white;
}
.mainContent .actionContainer{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
border:1px solid black;
}
.mainContent .mainAction{
flex-grow:1;
border:1px solid white;
padding:5px;
}
.mainContent .mainAction .value{
height:30px;
text-align:center;
}
.mainContent .support{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 5px;
}
.mainContent .supportAction{
border: 1px solid grey;
padding: 5px;
box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 250px;
}
.actionGroup .groupOnTheLevel{
font-size: 30px;
cursor: pointer;
text-align: center;
border-bottom: 1px solid white;
background: #850000;
}
.dialogContainer .block-content{
padding-top:20px;
display:flex;
flex-wrap:wrap;
}
.dialogContainer .block{
text-align:center;
background:red;
cursor:pointer;
border:1px solid white;
padding:5px 10px;
flex-grow:1;
}
.dialogContainer .newGroupActionContainer{
padding-top:20px;
display:flex;
flex-wrap:wrap;
}
.dialogContainer .newGroupAction{
background:red;
border:1px solid white;
flex-grow:1;
display:flex;
min-height:25px;
}
.dialogContainer .outerName{
flex-grow:1;
padding:0 10px;
text-align:center;
font-size:25px;
}
.dialogContainer .form-content input[type=submit]{
font-size:25px;
cursor:pointer;
}
.dialogContainer .string-content{
    padding: 20px;
}
.dialogContainer.error{
    background: rgba(215, 11, 0, 0.5);
}
.dialogContainer.error .content{
    text-align: center;
    padding: 20px;
}
.dialogContainer.error h1{
    color: red;
}
.mainContent .actionAvatar{
    background: rgba(143, 22, 31, 1);
    border: 1px solid whitesmoke;
    padding-bottom: 20px;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    text-align: center;

}
.mainContent .actionContainer.sortAction{
    display: block;
}
.mainContent .editContainerAction{
    text-align:right;
    font-size: 20px;
}
.mainContent .editContainerAction .editAction{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    background:red;
    border:1px solid white;
    cursor:pointer;
}
h2.secondDeviceName{
    border-bottom:1px solid white;
    height:40px;
}
.actionGroup{
    display: flex;
}
.ifSecondDevice{
    display: flex;
}
.editDeviceContainer{
    text-align:right;
    font-size: 20px;
    width: 40%;
    position: absolute;
    right: 0;
    top:0;
}
.editDeviceContainer .edit{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    background:red;
    border:1px solid white;
    cursor:pointer;
}
.chooseColumnAmount{
    position: relative;
}
.numberContainer{
    position: absolute;
    top:100%;
    display: none;
    background: #7c0a09;
    margin-left: -10px;
    width: 90%;
    z-index: 100;
}
.number{
    border-top:1px solid white;
    padding-left: 25%;
}
.number:hover{
    background: #b60d0d;
}
.chooseColumnAmount:hover .numberContainer{
    display: block;
}
.equal{
    background: black;
}
.widthChoice{
    position:relative;
}
.widthChoice:hover .numberContainer{
    display: block;
}