body.normal-theme{
    background: rgba(192, 51, 28, 1);
}
.normal-theme header{
    padding-top: 1px;
    border-bottom: 2px solid white;;
}
.normal-theme body{
    overflow: scroll;
}
.normal-theme h1{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.normal-theme section {
    min-height: calc(100vh - 140px);
}
.normal-theme footer{
    border-top: 2px solid white;
    height: 50px;
}
.normal-theme h2,h3{
    text-align:center;
}
.normal-theme .clearFix:after {
    content: ".";
    display: block;
    clear: both;
    visibility:hidden;
    height: 0;
}
.normal-theme .device{
margin-left: auto;
margin-right: auto;
border-left: 1px solid white;
border-right: 1px solid white;
color: white;
font-size: 20px;
}
.normal-theme .deviceShortcutContainer{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    padding: 10px 0;
}
.normal-theme .deviceShortcut{
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    background: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 0 10px;
}
.normal-theme .deviceShortcutExplanation{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.normal-theme .dialogContainer{
display:flex;
position:fixed;
width:100vw;
height:100vh;
background:rgba(58, 58, 58, 0.46);
top:0;
left:0;
    color: white;
    font-size: 23px;
    z-index: 1000;
}
.normal-theme .dialog{
position:relative;
overflow:auto;
width:50%;
min-height:40%;
max-height:80%;
margin: auto;
padding:15px;
    background:grey;
}

.normal-theme .dialog .close{
position:absolute;
top:0;
right:0;
background:red;
cursor:pointer;
}

.normal-theme .currentLevelGroup{
    max-width: 200px;
    min-width: 200px;
}
.normal-theme .mainContent{
    flex-grow: 1;
    min-width: 800px;
border-left:1px solid white;
box-sizing:border-box;
}
.normal-theme .mainContent .editContainer{
display:inline-flex;
width:50%;
flex-direction:row-reverse;
flex-wrap:wrap;
}
.normal-theme .mainContent .edit{
padding-left:10px;
padding-right:10px;
background:red;
border:1px solid white;
cursor:pointer;
}
.normal-theme .mainContent .pathContainer{
display:inline-block;
width:50%;
}
.normal-theme .mainContent h2{
padding-bottom:10px;
}
.normal-theme .mainContent .actionGroupContainer{
display:flex;
flex-wrap:wrap;
}
.normal-theme .mainContent .groupInGroup{
flex-basis:150px;
flex-grow:1;
background:red;
text-align:center;
font-size:30px;
cursor:pointer;
border:1px solid white;
}
.normal-theme .mainContent .actionContainer{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
border:1px solid black;
}
.normal-theme .mainContent .mainAction{
flex-grow:1;
border:1px solid white;
padding:5px;
}
.normal-theme .mainContent .mainAction .value{
height:30px;
background:grey;
text-align:center;
}
.normal-theme .mainContent .support{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 5px;
}
.normal-theme .mainContent .supportAction{
border: 1px solid grey;
padding: 5px;
box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 250px;
}
.normal-theme .actionGroup .groupOnTheLevel{
font-size: 30px;
cursor: pointer;
text-align: center;
border-bottom: 1px solid white;
background: #850000;
}
.normal-theme .dialogContainer .block-content{
padding-top:20px;
display:flex;
flex-wrap:wrap;
}
.normal-theme .dialogContainer .block{
text-align:center;
background:red;
cursor:pointer;
border:1px solid white;
padding:5px 10px;
flex-grow:1;
}
.normal-theme .dialogContainer .newGroupActionContainer{
padding-top:20px;
display:flex;
flex-wrap:wrap;
}
.normal-theme .dialogContainer .newGroupAction{
background:red;
border:1px solid white;
flex-grow:1;
display:flex;
min-height:25px;
}
.normal-theme .dialogContainer .outerName{
flex-grow:1;
padding:0 10px;
text-align:center;
font-size:25px;
}
.normal-theme .dialogContainer .form-content input[type=submit]{
font-size:25px;
cursor:pointer;
}
.normal-theme .dialogContainer .string-content{
    padding: 20px;
}
.normal-theme .dialogContainer.error{
    background: rgba(215, 11, 0, 0.5);
}
.normal-theme .dialogContainer.error .content{
    text-align: center;
    padding: 20px;
}
.normal-theme .dialogContainer.error h1{
    color: red;
}
.normal-theme .mainContent .actionAvatar{
    background: rgba(143, 22, 31, 1);
    border: 1px solid whitesmoke;
    padding-bottom: 20px;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    text-align: center;

}
.normal-theme .mainContent .actionContainer.sortAction{
    display: block;
}
.normal-theme .mainContent .editContainerAction{
    text-align:right;
    font-size: 20px;
}
.normal-theme .mainContent .editContainerAction .editAction{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    background:red;
    border:1px solid white;
    cursor:pointer;
}
.normal-theme h2.secondDeviceName{
    border-bottom:1px solid white;
    height:40px;
}
.normal-theme .actionGroup{
    display: flex;
}
.normal-theme .ifSecondDevice{
    display: flex;
}